.price_section{
    border-top:2px whitesmoke solid;
    border-radius:10%;
    width: 99%;
     height: 13%;
    display: flex;
    flex-direction:row;
    background-color:pink ;
    
    
    
}
.price_section p{
    padding-left:65px;
    
    
}
#old_price{
    text-decoration: line-through;
}