/* .Product{
    border:1px lightcyan solid;
    padding:3px;
    border-radius: 4px;
    margin: 10px;
    transition: border-color 2s;
}
.Product:hover{
    border-color:blue;
} */

.Product{
    width: 20rem;
    height: 20rem;
    border:1px whitesmoke solid;
    border-radius: 10%;
}