.Title{
    border:1px lightblue solid;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.Title:hover{
    box-shadow: 10px 10px;
    transition: 0.5s;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    text-orientation: upright;
}